<div class="row mt-5">
  <div class="d-flex justify-content-between mb-3">
    <h2 class="m-0">Products</h2>
    <a routerLink="/products/new" class="btn btn-info">New product</a>
  </div>
  <hr />
  <div class="row justify-content-center topPadding" *ngIf="!products">
    <h3 class="text-center col-3 card p-4">No products yet</h3>
  </div>
  <div *ngIf="products">
  <div class="col-md-6 my-3" *ngFor="let product of products.items">
    <app-product-list-item
      [product]="product"
      [shouldShowEditAndDeleteButton]="isAdmin"
    ></app-product-list-item>
  </div>
</div>
    <ngb-pagination *ngIf="products"  class="d-flex gap-2 justify-content-end col-8"
      [(page)]="pageIndex.arguments"
      [pageSize]="pageSize"
      [collectionSize]="itemCount"
      [maxSize]="3"
      [boundaryLinks]="true"
      (pageChange)="handlePageEvent($event)"></ngb-pagination>
</div>
